/* //////////GENERAL//////////// */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Averta;
}

:root{
    --salmon :rgb(250, 128, 114);;
}

@font-face {
    font-family: Averta;
    src: url(fonts/AvertaDemo-Regular.otf);
    font-weight: 500;
}


@font-face {
    font-family: Averta;
    src: url(fonts/AvertaDemoPE-ExtraBold.otf);
    font-weight: bold;
}

body{
     width: 100vw;
    height: calc(100vh);
    background-image: url(img/backgroound.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


/* ////////////MAIN///////////// */

main{
    width: 100vw;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;

}


section{
    width: 100vw;
    height: calc(100vh - 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.main__tittle{
    position: relative;
    font-size: 130px;
    color: white;
    font-weight: bolder;
    white-space: nowrap;
    top: 125px;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.main__input--container{
    height: 393px;
}



.main__input{

    border:none;
    outline: none;
    padding: 0 0 20px 0;
    height: 150px;
    background-color: transparent;
    border-bottom: 3px solid white;
    width: 0;
    caret-color: white;
    margin-bottom: 23px;

    font-size: 100px;
    text-align: center;
    color: white;   
    font-weight: bold;
    
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}


.main__button{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 60.5px 5px 60.5px;
    border: 3px white solid;
    border-radius: 50px;

    position: relative;
    top: -43px;

    font-size: 25px;

    transition: .3s color ease-in-out, .3s background ease-in-out, 1s top  ease-in-out;
}

.main__button:hover{
    text-decoration: none;
    color: var(--salmon);
    padding: 5px 60.5px 5px 60.5px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
}


.main__text{
color: white;
font-weight: 500;
width: 1500px;
text-align: center;
font-size:2em;
position: relative;
top: 100px;
opacity: 0;
    
transition-property: opacity;
transition-duration: 0.5s;
transition-timing-function: ease-in-out;
}

/* ///////////////ATTEMPS////////////////// */

.attemps{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    gap: 30px;
    top: 50px;
    width: 80%;
    height: 100px;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    /* border: 1px solid black; */
}

.attemp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
}







/* ///////////////BACKGROUND////////////////// */

.background{
    z-index: 0;
}

.background img{
    position: absolute;
    z-index: 0;
}

.background__top-wave{
    top: -440px;
    left: -355px;
}

.background__top-right-squares{
    top: -328px;
    left: 1615px;
}

.background__bottom-wave{
    top: 490px;
    left: 1007px;
}

.background__left-bottom-squares{
    top: 614px;
    left: -296px;
}

@media screen and (max-width: 1630px){
    .attemp{
        width: 70px;
        height: 70px;
        border-radius: 10px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width : 1360px) {

    .main__tittle{
        font-size: 100px;
    }

}


@media screen and (max-width : 1190px) {

    .main__text{
        font-size: 1.5em;
    }

}

@media screen and (max-width : 1060px) {

    .main__tittle{
        font-size: 5em;
    }

    .main__text{
        font-size: 1.5em;
    }

    .attemp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width : 880px) {


    .main__tittle{
        font-size: 3.5em;
    }

    .main__input--2{
        line-height: 10px;
    }

    .main__text{
        width: 80%;
    }

    .main__text br{
        display: none;
    }
}

@media screen and (max-width : 683px) {


    .main__tittle{
        font-size: 3em;
    }

    .main__input--2{
        line-height: 10px;
    }

    .main__text{
        width: 80%;
    }

    .main__text br{
        display: none;
    }

    .attemps{
        height: auto;
    }
}

@media screen and (max-width : 610px) {

    .attemp{
        
        width: 50px;
        height: 50px;
        
    }
}